nav.navbar.is-dark(role='navigation', aria-label='main navigation')
    .navbar-brand
        a(href='/#')
            img(src='img/forzeronavbar.svg' style="height: 50px; margin-left: 1rem; margin-right: 1rem; position: relative; bottom: 8px;")
        a.navbar-burger(role='button', aria-label='menu', aria-expanded='false', data-target='navbarBasicExample')
            span(aria-hidden='true')
            span(aria-hidden='true')
            span(aria-hidden='true')
    #navbarBasicExample.navbar-menu
        .navbar-start
            a(href="/omkar-fan-club.pug").navbar-item
                | Omkar Fan Club
        .navbar-end
            .navbar-item
                .buttons
