include includes/head.pug
   title For Zero - Home
   link(rel='stylesheet', href='css/home.scss')
   script(src='js/home.js')
body
    include includes/navbar.pug
    div.hero.is-large.title-hero
        div.hero-body
            div.container
                img(src='img/forzeronavbar.svg' style="height:200px; margin-left: 1rem; margin-right: 1rem; position: relative; bottom: 8px;")
                h2(style="font-weight: 500;").has-text-white.subtitle.is-3 Completely free applications that transform learning, by students, for students.
                button.button.is-ghost(id="down-to-second-page") #[i.material-symbols-rounded(aria-hidden="true") keyboard_double_arrow_down]

    div(id="second-page").second-page-text-left
        h1.title.has-text-white 💯% Free.
        h2.subtitle.has-text-white That means no ads. We do this for zero profit. It's in the name!
    div.second-page-text-right
        h1.title.has-text-white We ❤️ Open Source.
        h2.subtitle.has-text-white Everything we can share, we'll share. Complete transparency.
    div.second-page-text-left
        h1.title.has-text-white Fast Web Apps. 🔥
        h2.subtitle.has-text-white Our applications do justice.
    div.second-page-text-right
        h1.title.has-text-white Built Around You. 🫵
        h2.subtitle.has-text-white We're here to help students and making learning better.
