.second-page-text-left {
    text-align: left;
    margin: 5% 10%;

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }
}

.second-page-text-right {
    text-align: right;
    margin: 5% 10%;

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }
}